<mat-card class="user-card">
	<mat-card-title>User Information Form</mat-card-title>
	<form #myForm="ngForm" (ngSubmit)="saveData()" name="user-form">
		<p>
		<label>Name: </label>
		<input type="text" [(ngModel)]="user.name" name="name" />
		</p>
		<p>
		<label>Email: </label>
		<input type="email" [(ngModel)]="user.email" name="email" />
		</p>
		<p>
		<label>Place: </label>
		<select [(ngModel)]="user.place" name="place">
			<option *ngFor="let place of places" [ngValue]="user.place">
			{{ place }}
			</option>
		</select>
		</p>
		<p>
		<label>Budget per person: </label>
		<input type="number" [(ngModel)]="user.budget" name="budget" />
		</p>
		<p>
		<label>No of travellers: </label>
		<input type="number" [(ngModel)]="user.count" name="count" />
		</p>
		<p>
		<button type="submit:">Submit</button>
		</p>
	</form>
</mat-card>